.header {
  background-color: #007bff;
  color: white;
  padding: 1rem 3rem;
  text-align: center;
}
.nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5em;
  gap: 3rem;
}
.dropdown {
  width: 100%;
  position: relative;
  background-color: black;
}
.dropdownContent {
  width: 100%;
  background-color: red;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
.link {
  text-decoration: none;
  color: #333;
  padding: 0.5rem 0.75rem;
  display: block;
}
.dropdown:hover .dropdownContent {
  display: block;
}
